body, html{
    background-color: #212121;
}

#rightsdisclaimer {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: bold;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
    white-space: nowrap;
}

#yourvideo{
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 15px;
}

#ytborder1{
    position: absolute;
    top: 44.56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61.42%;
    height: 76.28%;
}

#title1{
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    position: absolute;
    top: 71.5%;
    left: 32.6%;
    transform: translate(-50%, -50%);
}

#title2{
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    position: absolute;
    top: 71.5%;
    left: 35.6%;
    transform: translate(-50%, -50%);
}

#date1{
    color: white;
    font-size: 200%;
    font-family: sans-serif;
    position: absolute;
    top: 71.5%;
    left: 68.8%;
    transform: translate(-50%, -50%);
}