body, html {
    background-color: #171717;
    color: #FFFFFF;
    font-family: Roboto, Arial;
    overflow: hidden;
}

.Hcenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle {
    top: 25%;
    text-align: center;
}

.footer {
    bottom: 0;
}